{% extends 'base_admin.html.twig' %}

{% block title %}
Liste des aritcles
{% endblock %}

{% block body %}

<!-- Header Layout Content -->
<div class="mdk-header-layout__content d-flex flex-column" style="padding-top: 45px !important;">
    <div class="page ">
        <div class="container page__container">
                <a href="{{path('admin_editor_list')}}"class="nav-link">Liste des rédacteurs</a>
          
            <h2 class="text-center">Liste des articles (blog)</h2>
            <div class="text-center">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            {{message | raw}}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="search-block">
                {{form_start(form)}}
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-3">
                        {{form_widget(form.title)}}
                    </div>
                    <div class="col-1">
                        <button class="button button1 d-inline" style="margin-top: -6px;"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                {{form_end(form)}}            
            </div>
                
            
            <a href="{{path('admin_blog_add')}}" class="button button1 fw-bold"> <i class="fas fa-plus"></i> Article</a>
          

            <div class="row mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-8">Titre</th>
                            <th scope="col" class="col-md-3">Date</th>
                            <th scope="col" class="col-md-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in blogs %}
                            <tr>
                                <th>{{article.title|slice(0, 50)}}</th>
                                <th>{{article.createdAt|date('d/m/Y')}}</th>
                                <td>
                                    <form method="post" action="{{ path('admin_blog_delete', {'id': article.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                        <button class="btn btn-danger" onclick="if(!confirm('Êtes-vous sûr de vouloir supprimer l\'article  ?')) { return false; }">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a href="{{ path('admin_blog_edit', {'id': article.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="pagination d-flex justify-content-center">
                    {{ knp_pagination_render(blogs)}}
                </div>
        </div>

    </div>
</div>

{% block javascripts %}

{% endblock %}

{% endblock %}