{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block stylesheets %}
	<style>
		.content-fields-registration{
			padding-top: 10%;
			padding-bottom: 5%;
		}
		label{
			color: white;
		}
	</style>
{% endblock %}
{% block body %}
<body class="biolife-body">
	<div class="page-contain">
		<!-- Image bannière  -->
		<div class="banner-media-layout-01"></div>

		<div class="text-content2">  
			<div class="content-fields-registration bg-glass bradius-3rem px-lg-5 mx-lg-5 px-sm-5 mx-sm-0">
				{{ form_start(formReg)}}
				<div class="row d-flex justify-content-between">
					<div class="col-md-7 col-sm-12 ">
						{{ form_row(formReg.lastname)}}
						{{ form_row(formReg.firstname)}}
						{{ form_row(formReg.email)}}
						{{ form_row(formReg.phone)}}
						{{ form_row(formReg.password)}}
							<button class="btn btn-bold mt-5" type="submit"> S'inscrire</button>
					</div>
				</div>
				{{ form_end(formReg)}}
			</div>
		</div>		
	</div>
</body>

			






	

{% endblock %}
