{% extends 'base.html.twig' %}

{% block title %}Tous les produits!{% endblock %}

{% block stylesheets %}

    <style>
        #header{
            position: relative!important;
        }
        .header-middle{
            padding-bottom: 6% !important;
        }
        .header-bottom .row .primary-menu ul li a{
            font-size: 16px;
        }
        .header-bottom .row .primary-menu ul li{
            margin-left: 14px;
        }

        /* Style for positioning toast */
        .toast{
            position: fixed;
            width: 180px;
            top: 250px;
            right: 10px;
            z-index: 20;
        }
    </style>
{% endblock %}


{% block body %}


  <!-- Toast message  -->
  <div class="toast" id="Toast-add-product">
      <div class="toast-header">
          <strong class="me-auto"><i class="fas fa-cart-plus"></i> Produit ajouté</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="font-size: small;"></button>
      </div>
      <div class="toast-body">
          Consulter le panier <a href="{{path('account_order_step_one')}}">Cliquer ici!</a>
      </div>
  </div>


    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">Natur'en vie</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="{{path('home')}}" class="permal-link">Accueil</a></li>
                <li class="nav-item"><a href="#" class="permal-link">Panier</a></li>
                <li class="nav-item"><span class="current-page">Panier sur-mesure</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain category-page no-sidebar">
        <div class="container">
            <div class="row">

                <!-- Main content -->
                <div id="main-content" class="main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-category grid-style">

                        <div id="top-functions-area">
                            <div class=" to-left group-on-mobile">
                                <span class="flt-title">Trier</span>
                                <a href="#" class="icon-for-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <div class="wrap-selectors">
                                    {{form_start(form)}}
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{form_widget(form.name)}}
                                            </div>
                                            <div class="col-md-2">
                                                {{form_widget(form.category)}}
                                            </div>
                                            <div class="col-md-2">
                                                {{form_widget(form.classement)}}
                                            </div>
                                            <div class="col-md-3">
                                                {{form_widget(form.maxPrice)}}
                                            </div>
                                            <div class="col-md-1">
                                                <button class="button button1">Trier</button>
                                            </div>
                                        </div>
                                    {{form_end(form)}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="products-list">
                                {% for product in products %}
                                    <li class="product-item col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        {% include "partials/_product_card.html.twig" %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="pagination d-flex justify-content-center">
                            {{ knp_pagination_render(products)}}
                        </div>

                    </div>

                </div>

            </div>
        </div>
        {% include "partials/_loupe.html.twig" %}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="{{ asset('/assets/js/custom_select2.js')}}"></script>
{% endblock %}
