{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        #header {
            position: relative !important;
        }
        
        #biolife-quickview-block {
            z-index: 9992!important;
        }
        
        .subscription-block{
            background-image: linear-gradient(#dba800, #dba800 , white);
        }
    </style>
    <link rel="stylesheet" href="{{ asset('/assets/css/list_subscription.css')}}">

{% endblock %}
{% block body %}

<body class="biolife-body">

    <!-- Page Contain -->
    <div class="page-contain">

        <!-- Main content -->
        <div id="main-content" class="main-content">

            <!-- Block 01: Main slide block-->
            {% include "partials/_banner_home.html.twig" %}
       
            <!-- Block 04: Subscription -->
            <div class="subscrition-plan-block my-5">
                {% include "partials/subscription/_list_subscription2.html.twig" %}
            </div>

            <!-- Block 02: Grid Banners-->
            {# <div class="biolife-gird-banners xs-margin-top-80px sm-margin-top-0">
                <div class="grid-panel">
                    <div class="grid-panel-item left-content">
                        <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-01">
                            <a href="#" class="media-contain media-01"></a>
                            <div class="banner-contain">
                                <a href="#" class="cat-name">Jus de pomme biologique</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-panel-item midle-content">
                        <ul class="list-media">
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-02">
                                    <a href="#" class="media-contain media-02"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Pomme Juliet</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-03">
                                    <a href="#" class="media-contain media-03"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Myrtille</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-04">
                                    <a href="#" class="media-contain media-04"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Framboise</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-05">
                                    <a href="#" class="media-contain  media-05"></a>
                                    <div class="banner-contain">
                                        <a href="#" class="cat-name">Our berries</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-panel-item right-content">
                        <div class="biolife-banner grid biolife-banner__grid type-02 bn-elm-06">
                            <a href="#" class="media-contain media-06"></a>
                            <div class="banner-contain">
                                <a href="#" class="cat-name">Ananas Afrique</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
            <div class="biolife-service type01 biolife-service__type01 sm-margin-top-0 xs-margin-top-45px">
                <b class="txt-show-01" >100%Nature</b>
                <i class="txt-show-02" style="font-size: 60px; font-family: Brush Script MT, Brush Script Std, cursive;"> Des Fruits Et Légumes Frais</i>
                <ul class="services-list">
                    <li>
                        <div class="service-inner color-reverse">
                            <span class="number">1</span>
                            <span class="biolife-icon icon-beer"></span>
                            <a class="srv-name" href="#">
                                Sélectionnez un  <br> panier de produits <br> entièrement certifiés
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="service-inner color-reverse">
                            <span class="number">2</span>
                            <span class="biolife-icon icon-schedule"></span>
                            <a class="srv-name" href="#">Localisation et livraison <br> à temps plein</a>
                        </div>
                    </li>
                    <li>
                        <div class="service-inner color-reverse">
                            <span class="number">3</span>
                            <span class="biolife-icon icon-car"></span>
                            <a class="srv-name" href="#">0 frais de livraison</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <span class="mt-5 fw-bolder">Les meilleurs produits Nature En Vie pour vous</span>
            </div>

            <!--Block 05: Showcase-->
            <div class="home-11__elm-05">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__bold-center">
                        <span class="subtitle">Les particularités de nos fruits et légumes</span>
                        <h3 class="main-title">Label DEMETER, 100 % BIO</h3>
                    </div>
                    <div class="biolife-showcase">
                        <div class="sc-row wrap-sc-list">
                            <ul class="sc-list sc-list-reverse">
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-01.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">Certification d’une agriculture biodynamique</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-02.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">Des produits écologiques</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-03.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">Culture soucieuse de l’environnement</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sc-row sc-banner-center">
                            <figure><img class="img-h-auto" src="/biolife/assets/images/home-11/bn-showcase.png" width="449" height="467" alt="biolife products"></figure>
                        </div>
                        <div class="sc-row wrap-sc-list">
                            <ul class="sc-list">
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-04.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">L’utilisation d’engrais « vert »</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-05.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">Une économie rurale sans pesticides et autres produits néfastes</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="sc-item">
                                        <img src="/biolife/assets/images/home-11/sc-item-06.png" alt="showcase media" width="60" height="60" alt="biolife food">
                                        <p class="sc-desc">
                                            <b class="sc-title">Des fruits et légumes cueillis à la source et directement servis dans vos paniers</b>
                                            {# <span class="text">Lorem ipsum dolor sit amet, consectuer adipiscing elit, sed diam nonummy.</span> #}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="discover-btn-block">
                            <a href="{{path('demeter')}}" class="button btn btn-thin">Plus d'infos</a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <a href="" class="button button1">Demeter</a>
            

           
            <!-- Block 04: Floating cart-->
            {# <div class="banner-promotion xs-margin-top-0 sm-margin-top-260px sm-margin-top-60px xs-margin-top-100">
                <div class="biolife-banner promotion6 biolife-banner__promotion6">
                    <div class="banner-contain">
                        <div class="media">
                            <div class="img-moving position-1">
                                <img src="/assets/images/floating-vegetable-.png" width="491" height="408" alt="img msv">
                            </div>
                            <div class="img-moving position-1">
                                <a href="#" class="banner-link">
                                    <img src="/assets/images/box.png" width="300"  alt="box_demeter" style="margin-right: 78px;">
                                </a>
                            </div>
                        </div>
                        <div class="text-content">
                            <b class="text2" style="font-size: 40px">Qu’est-ce-que le Label Demeter?</b>
                            <p class="buttons">
                                <a href="{{path('demeter')}}" class="btn btn-thin">Découvrir</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div> #}
            

            <!-- Block 07: Blog posts-->
            <div class="blog-posts sm-margin-top-49px xs-margin-top-60px">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__bold-center xs-margin-bottom-50px sm-margin-bottom-0-im">
                        <i class="subtitle">Les nouvelles les plus fraîches et les plus excitantes</i>
                        <h3 class="main-title">Nos derniers articles</h3>
                    </div>
                    <ul class="biolife-carousel nav-center xs-margin-top-34px nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":3, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 2}},{"breakpoint":768, "settings":{ "slidesToShow": 2}},{"breakpoint":600, "settings":{ "slidesToShow": 1}}]}'>
                        {% for blog in blogs %}
                            <li>
                                <div class="post-item effect-01 style-bottom-info layout-02 ">
                                    <div class="thumbnail">
                                        <a href="{{ path('home_blog_show', {id: blog.id, slug: blog.slug} )}}" class="link-to-post">
                                            {% if blog.imageName %}
                                                <img src="{{vich_uploader_asset(blog, 'imageFile')}}" class="img-fluid card-img-top" width="370" height="270">
                                            {% else %}
                                                <img src="/assets/images/empty-300x240.jpg" class="card-img-top" class="img-fluid card-img-top"  width="370" height="270">
                                            {% endif %}
                                        </a>
                                        <div class="post-date">
                                            <span class="date">{{ blog.createdAt|date('d') }}</span>
                                            <span class="month">{{ blog.createdAt|date('M') }}</span>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h4 class="post-name"><a href="{{ path('home_blog_show', {id: blog.id, slug: blog.slug})}}" class="linktopost">{{ blog.title }}</a></h4>
                                        <div class="post-meta">
                                            <a href="#" class="post-meta__item author"><img src="/assets/images/avatar-default.png" width="20" height="20" alt=""><span>Natur'en vie</span></a>
                                            <!-- A retratailler -->
                                            {# <a href="#" class="post-meta__item btn liked-count">2<span class="biolife-icon icon-comment"></span></a>
                                            <a href="#" class="post-meta__item btn comment-count">6<span class="biolife-icon icon-like"></span></a>
                                            <div class="post-meta__item post-meta__item-social-box">
                                                <span class="tbn"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                                <div class="inner-content">
                                                    <ul class="socials">
                                                        <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div> #}
                                        </div>
                                        {# <p class="excerpt">{{blog.content|slice(0, 200)|raw }}...</p> #}
                                        <div class="group-buttons">
                                            <a href="{{ path('home_blog_show', {id: blog.id, slug: blog.slug})}}" class="btn readmore">Lire la suite</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Block 08: Advance Product-->
            {# <div class="banner-block">
                <div class="biolife-banner special-03 biolife-banner__special-03">
                    <div class="banner-contain">
                        <div class="container">
                            <div class="biolife-title-box bgrd-bold biolife-title-box__bgrd-bold">
                                <h3 class="title"> Nos cidres et jus de fruit </h3>
                            </div>
                            <ul class="products-list vertical-layout-02 biolife-carousel nav-none-on-mobile" data-slick='{"rows":3,"arrows":false,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":1, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 1}},{"breakpoint":768, "settings":{ "slidesToShow": 3, "rows":2, "slidesMargin":10}},{"breakpoint":500, "settings":{ "slidesToShow": 2, "rows":2, "slidesMargin":15}}]}'>
                                {% for item in fruitJuices %}
                                    <li class="product-item">
                                        <div class="contain-product contain-product__right-info-layout3">
                                            <div class="product-thumb">
                                                <a href="#" class="link-to-product">
                                                    {% if item.imageName %}
                                                        <img src="{{ vich_uploader_asset(item, 'imageFile')|imagine_filter('thumb') }}"  alt="Vegetables" width="100" height="100" class="product-thumnail">
                                                    {% else %}
                                                        <img src="/uploads/produit/images/defaultImage.png"  alt="Vegetables" width="100" height="100" class="product-thumnail">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 class="product-title"><a href="#" class="pr-name">{{ item.name }}</a></h4>
                                                <div class="price ">
                                                    <ins><span class="price-amount"> {{ item.price}} €</span></ins>
                                                    <!-- <del><span class="price-amount"><span class="currencySymbol">€</span>29.00</span></del> -->
                                                </div>
                                                <div class="rating">
                                                    <p class="star-rating"><span class="width-80percent"></span></p>
                                                    <span cleview-cass="rount">(05 Reviews)</span>
                                                </div>
                                                <p class="desc">{{ item.detail}}</p>
                                                <div class="buttons">
                                                    <a href="{{ path('all_products') }}" class="btn add-to-cart-btn" tabindex="0">Ajouter au panier</a>
                                                    <a href="#" class="btn wishlist-btn" tabindex="0"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn compare-btn" tabindex="0"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div> #}

            <!-- Block 09: Instagram-->
            {# <div class="biolife-instagram-block sm-margin-top-76px xs-margin-top-60px">
                <div class="wrap-title xs-margin-bottom-60px-im sm-margin-bottom-35-im">
                    <i class="subtitle hidden-xs">Suivez nos actus paniers où que vous allez !</i>
                    <h3 class="title">Suivez-nous sur Instagram </h3>
                </div>
                <div class="instagram-inline-wrap">
                    <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":6, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 6}},{"breakpoint":992, "settings":{ "slidesToShow": 5}},{"breakpoint":800, "settings":{ "slidesToShow": 4}},{"breakpoint":768, "settings":{ "slidesToShow": 3}},{"breakpoint":600, "settings":{ "slidesToShow": 2}},{"breakpoint":480, "settings":{"rows":2, "slidesToShow": 3}}]}'>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-capacity-about"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-01.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-fresh-drink"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-02.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-green-safety"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-03.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-healthy-about"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-04.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-honey"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-05.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-fruits"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-06.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-broccoli-1"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-07.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-grape"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-08.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-avocado"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-09.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="instagram-ltl-item">
                                <a href="#" class="link-to">
                                    <span class="show-on-hover biolife-icon icon-fresh-juice"></span>
                                    <img src="/biolife/assets/images/home-02/instag-inline-10.jpg" width="320" height="320" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> #}

            <!-- Block 10: Brands-->
            <div class="brand-slide sm-margin-top-76px sm-margin-bottom-77px xs-margin-top-80px xs-margin-bottom-80px">
                <div class="container">
                    <ul class="biolife-carousel nav-center-bold nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 10}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin": 10}}]}'>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/AB_cert_HD.jpg" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/Logo_confédération_paysanne.jpg" width="280" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/logoeuropeenpantoneAB.jpg" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/demeter.jpg" width="210" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/AB_cert_HD.jpg" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/Logo_confédération_paysanne.jpg" width="280" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/logo/logo-footer/logoeuropeenpantoneAB.jpg" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="/assets/images/demeter.jpg" width="210" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--Mobile Global Menu-->
    <div class="mobile-block-global">
        <div class="biolife-mobile-panels">
            <span class="biolife-current-panel-title">Global</span>
            <a class="biolife-close-btn" data-object="global-panel-opened" href="#">&times;</a>
        </div>
        <div class="block-global-contain">
            <div class="glb-item my-account">
                <b class="title">Mon compte</b>
                <ul class="list">
                    <li class="list-item"><a href="#">Login/s'inscrire</a></li>
                    <li class="list-item"><a href="#">Ma liste de souhaits <span class="index">(8)</span></a></li>
                    <li class="list-item"><a href="#">Checkout</a></li>
                </ul>
            </div>
            <div class="glb-item currency">
                <b class="title">Currency</b>
                <ul class="list">
                    <li class="list-item"><a href="#">€ EUR (Euro)</a></li>
                    <li class="list-item"><a href="#">$ USD (Dollar)</a></li>
                    <li class="list-item"><a href="#">€ GBP (Pound)</a></li>
                    <li class="list-item"><a href="#">¥ JPY (Yen)</a></li>
                </ul>
            </div>
            <div class="glb-item languages">
                <b class="title">Language</b>
                <ul class="list inline">
                    <li class="list-item"><a href="#"><img src="/biolife/assets/images/languages/us.jpg" alt="flag" width="24" height="18"></a></li>
                    <li class="list-item"><a href="#"><img src="/biolife/assets/images/languages/fr.jpg" alt="flag" width="24" height="18"></a></li>
                    <li class="list-item"><a href="#"><img src="/biolife/assets/images/languages/ger.jpg" alt="flag" width="24" height="18"></a></li>
                    <li class="list-item"><a href="#"><img src="/biolife/assets/images/languages/jap.jpg" alt="flag" width="24" height="18"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--newsletter Popup-->
    {# <div id="biolife-newsletter-popup" class="modal biolife-popup biolife-newsletter-popup-contain" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span class="biolife-icon icon-close-menu"></span></button>
                    <div class="newsletter-block popup-layout newsletter-block_popup-layout">
                        <div class="inner-content">
                            <div class="wrap-title">
                                <span class="sup-title">Sign up to get up to</span>
                                <h3 class="newslt-title">50<sup>%</sup> off</h3>
                            </div>
                            <div class="form-content">
                                <form action="#" name="new-letter-foter" method="post">
                                    <input type="email" class="input-text email" value="" placeholder="Your email here...">
                                    <button type="submit" class="bnt-submit" name="ok">Get up to 50% off</button>
                                    <a href="javascript:void(0)" class="close dismiss-newsletter" data-dismiss="modal">No thank. I’ll let this deal fly away</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>
</body>
{% endblock %}

{% block javascripts %}

{% endblock %}