{% extends 'base_admin.html.twig' %}

{% block title %} Toutes les commandes {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

	<style>
		.map{
			height: 100vh;
		}
		
		@media only screen and (min-width: 1100px) {
			.container-list{
				display: grid;
				grid-template-columns: 2fr 2fr;
			}
			
			.list{
				padding: 0 30px;
				height: 1900px;
				width: 800px;
			}

			.map{
				background-color: #CCCCCC;
				position: sticky!important;
				top: 0;
				right: 0;
				left: 0;
			}
		}

		.item:hover{
			background-color: #0fabb94b;
		}


		.marker.leaflet-popup{
			margin-bottom: 16px;
			cursor: pointer;
			font-size: 16px;
			font-weight: bold;
			padding: 5px 10px;
			text-align: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 3) ;
			background-color: #fff;
		}
		.marker.leaflet-popup .user{
			color: #0fabb9;
		}

		.marker.leaflet-popup::after{
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid #fff;
		}

		.marker .leaflet-popup-content-wrapper{
			background: transparent;
			color: inherit;
			box-shadow: none;
			text-align: inherit;
		} 

		.marker .leaflet-popup-content{
			text-align: inherit;
			color: inherit;
			margin: 0;
		} 

		.marker .leaflet-popup-tip-container{
			display: none;
		} 

		.marker.is-active, .marker:hover{
			z-index: 300;
				background-color: #0fabb9;
			color: #fff;
		}
		.marker.is-active::after, .marker:hover::after{
			border-top-color: #0fabb9;
		}

		.marker.is-expanded{
			background-color: #fff!important;
			color: inherit!important;
			z-index: 301;
			text-align: left;
		}
		.marker.is-expanded::after{
			border-top-color: #fff!important;
		}

		/* Spinner modal  */
		.spinner-border{
			width: 100px;
			height: 100px;
			font-size: 5em;
		}

		.modal-dialog{
			margin-top: 47vh;
		}
		.form-pathLine{
			float: right;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="my-5" >
		<div class="title-body d-flex justify-content-center">
			<h1 class="text-white text-center font-bg-stylized-1">Liste des commandes" </h1>
		</div>
		<div class="bg-glass2 p-3 mb-5">
			<div class="row">
				<div class="col-6 col-xs-4">
					<button id="js-map-large" class="button button1" onclick="largeMap()"><i class="fa-solid fa-layer-group"></i> <span class="label-hidden-sm"> Agrandir le Map</span></button>
					<button class="button button1" onclick="getAllRoutes()"><i class="fa-solid fa-wave-square"></i> <span class="label-hidden-sm"> Chemin court </span></button>		
				</div>
				<div class="col-6 col-xs-8">
					<div class="form-pathLine d-inine ">
						<select id="js_pathLine"> </select>
						<button id="btn-submit-pathLine" class="button button1"><i class="fa-solid fa-filter"></i> <span class="label-hidden-sm">Trier</span> </button>
					</div>
				</div>
			</div>
			<div class="container-list">
				<div class="list">
					<table class="table">
						<thead>
							<tr>
							<th scope="col d-none" class="table-hidden-sm-col">Ordre</th>
							<th scope="col d-none" class="table-hidden-sm-col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col">Adresse</th>
							<th scope="col">Code Postal</th>
							<th scope="col" class="d-none d-sm-block">Téléphone</th>
							<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							{% set ordersNotDelivred = 0 %}
							{% for order in user.orders %}			
								{% if order.statusDelivry == 0 %}
									{% set ordersNotDelivred = ordersNotDelivred + 1 %}
								{% endif %}
							{% endfor %}
							<tr 
								class="item js-marker" 

								data-order="{{ ordersNotDelivred}}" 
								data-lat="{{user.delivry.latPosition}}" 
								data-lng="{{user.delivry.lngPosition}}"
								data-address="{{user.delivry.address}}"
								data-postalcode="{{user.delivry.postalCode}}"
								data-user="{{user.firstname}}"
							>
								<td class="table-hidden-sm-col">{{ loop.index}}</td>
								<td class="table-hidden-sm-col"> {{ user.lastname }}</td>
								<td>{{ user.firstname }}</td>
								<td>{{ user.delivry.address }}</td>
								<td>{{ user.delivry.postalCode }}</td>
								<td class="d-none d-sm-block">{{ user.phone }}</td>
								<td><a href="{{path('admin_user_order', {user: user.id})}}"><i class="fa-solid fa-user"></i></a></td>
							</tr>
						
						{% endfor %}

						</tbody>
					</table>
				</div>
				<div class="map" id="map"></div>
			</div>
			<div id="loading">
				...
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLoading">
		Launch demo modal
	</button>

	<!-- Modal : Calcul itinéraire -->
	<div class="modal text-center col-md-3 ms-auto" id="modalLoading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="content-loading-modal">
			<div class="spinner-block"></div>
			<h1 class="text-white mt-3"> Calcul des itinéraire...</h1>
		</div>
		</div>
	</div>

	<!-- Modal : Error -->
	<div class="modal" tabindex="-1" id="modalError">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Erreur</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h2 class="text-center">Une erreur s'est produite, veuillez réessayer !</h2>
			</div>
		  </div>
		</div>
	  </div>
			
	<div data-mbapi="{{ mapbox_apikey }}" class="d-none"></div>

	{% endblock %}
	
	{% block javascripts %}
	<!-- On doit charger mapbox avant les autres scrips sinon, il ecrase les fonctions dans les autres -->
	<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<script type="text/javascript" src="{{ asset('/assets/js/_action-leaflet-openstreetmap-mapbox.js')}}"></script>
	
	<script>
		
		window.onerror = function(error) {
			alert("window error..." + error );
		}

		/**
		 * Permet d'agrandir ou de reduire la carte
		*/
		function largeMap() {
			if ($('#map').css('width') == "529px") {
				$('#map').css('width', '156vh');
				$('#js-map-large').text('Réduire la carte')
			} else {
				$('#map').css('width', '529px');
				$('#js-map-large').text('Agrandir la carte')
			}
		}


		// Data select2 
		var dataSelectPahtLine = [
			{
				id: 0,
				text: 'Jour de la commande'
			},
			{
				id: 1,
				text: 'Jour de la semaine'
			}
		];

		$("select#js_pathLine").select2({
			placeholder: "Trier la livraison par",
			width: '50%',
			data: dataSelectPahtLine,
			allowClear: true,
		})

		/**
		 * Permet de générer le params de l'url 
		 */
		$('#btn-submit-pathLine').on('click', function(){
			var paramVal = $("select#js_pathLine").val();
			const  url = "{{ path('admin_order_list') }}";
			window.location.href = `${url}?queryPathLine=${paramVal}`;
		}); 
	</script>
{% endblock %}