<div class="contain-product layout-default">
    <div class="product-thumb">
        {# {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %} #}
        <a href="{{path('product_show', {id: product.id, slug: product.slug})}}" class="link-to-product">
            {% if product.imageName %}
                <img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('thumb') }}" alt="product-img" width="270" >
            {% else %}
                <img src="/uploads/produit/images/defaultImage.png" alt="product-img"   width="270">
            {% endif %}
        </a>
        <a class="js-quick-view-block lookup btn_call_quickview" href="#"><i class="biolife-icon icon-search"></i></a>
    </div>
    <div class="info">
        <b class="categories">{{ product.category.name}}</b>
        <h4 class="product-title"><a href="{{path('product_show', {id: product.id, slug: product.slug})}}" class="pr-name">{{ product.name}}</a></h4>
        <h4 class="product-description visually-hidden">{{product.description}}</h4>

        <div class="price">
            <ins>
                <span class="price-amount"> 
                    <span id="js-price-amount">{{ product.price}}</span> 
                    <span class="price-unity"> €</span>
                </span>
            </ins>
            <ins>
                <span class="product-weight visually-hidden">
                    <span id="js-product-weight">{{ product.weight}}</span> 
                    <span class="price-weight"> Kg</span> 
                </span>
            </ins>

            {% if product.weight %}
                {% if product.weight > 1 %}
                    <ins><span class="price-per-weight">{{ product.price / product.weight}} /Kg</span></ins>
                {% elseif product.weight == 1 %}
                    <ins><span class="price-per-weight">{{ product.weight}} Kg</span></ins>
                {% endif %}
            {% else %}
                <ins><span class="price-amount-with-weight"> Prix à la botte</span></ins>
            {% endif %}
        </div>
  
        <div class="shipping-info">
            {# <p class="shipping-day">3-Day Shipping</p> #}
            {# <p class="for-today">{{ product.detail}}</p> #}
        </div>
        <div class="slide-down-box">
            <p class="message">{{ product.detail}}</p>

            <div class="buttons">
                {# <a id="btn-show-toast-js" href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a> #}
                {% if app.user %}
                    <a   href="{{path('panier_add', {id: product.id})}}" class="btn add-to-cart-btn js-add-cart-and-toast"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Ajouter au panier</a>
                {% else %}
                    <a href="{{path('product_show', {id: product.id, slug: product.slug})}}" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Plus de détail</a>
                {% endif %}
                {# <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a> #}
            </div>
        </div>
    </div>
</div>