<div class="contain-product layout-default">
    <div class="product-thumb">
        {# {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %} #}
        <a href="{{path('product_show', {id: product.id, slug: product.slug})}}" class="link-to-product">
            {% if product.imageName %}
                <img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('thumb') }}" alt="product-img" width="270" >
            {% else %}
                <img src="/uploads/produit/images/defaultImage.png" alt="product-img"   width="270">
            {% endif %}
        </a>
        <a class="js-quick-view-block lookup btn_call_quickview" href="#"><i class="biolife-icon icon-search"></i></a>
    </div>
    <div class="info">
        
        <b class="categories">{{ product.categoryName}} </b>
        <h4 class="product-title">
            <a href="{{path('product_show', {id: product.id, slug: product.slug})}}" class="pr-name">{{ product.name}}</a>
        </h4>
        <h4 class="product-description visually-hidden">{{product.description}}  </h4>
        <span class="product-packaging visually-hidden"> <span class="quantity"> {{product.packaging}}</span> <span class="quantity_unit">{{product.quantityUnit}}</span></span>
    

        <div class="price">
            <ins>
                <span class="price-amount"> 
                    <span id="js-price-amount">
                        {{ product.price|number_format(2)}}                        
                    </span> 
                    <span class="price-unity"> €/ {{ product.quantityUnit }}</span>
                </span>
            </ins>
            <ins>
                <span class="product-weight visually-hidden">
                    <span id="js-product-weight">{{ product.packaging}}</span> 
                    <span class="price-weight"> {{ product.quantityUnit}}</span> 
                </span>
            </ins>
        </div>
        {% if product.classementName == 'NOTPROD' %}
        <div style="display: flex; justify-content: center;">
            <img src="/assets/images/logo/logo-bio.png" width="20" alt="">
        </div>
        {% endif %}

        <div class="shipping-info">
            {# <p class="shipping-day">3-Day Shipping</p> #}
            {# <p class="for-today">{{ product.detail}}</p> #}
        </div>
        <div class="slide-down-box">
            <p class="message">
                {{ product.description}}
            </p>

            <div class="buttons">
                {# <a id="btn-show-toast-js" href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a> #}
                    <a   href="{{path('panier_add', {id: product.id})}}" class="btn add-to-cart-btn js-add-cart-and-toast"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Ajouter au panier</a>
                {# <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a> #}
            </div>
        </div>
    </div>
</div>