<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <a href="" class="biolife-logo"><img src="/biolife/assets/images/logo-bio.png" alt="biolife logo" width="135" height="36"></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produit
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_product_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_product_add')}}">Ajouter</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégorie
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_category_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_category_add')}}">Ajouter</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Classement
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_class_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_class_add')}}">Ajouter</a></li>
                </ul>
            </li>
            <li class="nav-item" ><a class="nav-link" href="{{path('admin_subscription_list')}}">Abonnement</a></li>
        </ul>
    </div>
    <span class="nav-item dropdown" style="left: -100px;">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-tie fa-2x"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{path('admin_product_list')}}">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('security_logout')}}" >Déconnection</a></li>
        </ul>
    </span>   
  </div>
</nav>