{# <header id="header" class="header-area header-eighth biolife-header biolife-header__underline biolife-header__transparent bg-primary">
    <div class="header-eighth__inner biolife-header__inner biolife-sticky-object ">
        <div class="container">
            <div class="row">
                <div class="header-eighth__logo col-lg-3 col-md-2 col-sm-6 col-xs-6">
                    <a href="#" class="biolife-logo"><img src="assets/images/home-08/logo.png" width="137" height="34" alt="biolife organic food"></a>
                </div>
                <div class="header-eighth__menu-contain col-lg-6 col-md-7 hidden-sm hidden-xs md-possition-initial">
                    <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                            <li class="menu-item"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="category-grid.html" class="menu-name" data-title="Shop" >Shop</a>
                                <div class="wrap-megamenu lg-width-1170 md-width-970">
                                    <div class="mega-content">
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Fresh Berries</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Fruit & Nut Gifts</a></li>
                                                    <li><a href="#">Mixed Fruits</a></li>
                                                    <li><a href="#">Oranges</a></li>
                                                    <li><a href="#">Bananas & Plantains</a></li>
                                                    <li><a href="#">Fresh Gala Apples</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Vegetables</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Berries</a></li>
                                                    <li><a href="#">Pears</a></li>
                                                    <li><a href="#">Chili Peppers</a></li>
                                                    <li><a href="#">Fresh Avocado</a></li>
                                                    <li><a href="#">Grapes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu ">
                                                <h4 class="menu-title">Fresh Fruits</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Basket of apples</a></li>
                                                    <li><a href="#">Strawberry</a></li>
                                                    <li><a href="#">Blueberry</a></li>
                                                    <li><a href="#">Orange</a></li>
                                                    <li><a href="#">Pineapple</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Featured Products</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Coffee Creamers</a></li>
                                                    <li><a href="#">Mayonnaise</a></li>
                                                    <li><a href="#">Almond Milk</a></li>
                                                    <li><a href="#">Fruit Jam</a></li>
                                                    <li><a href="#">Beverages</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="Bestseller">Bestseller</a>
                                <div class="wrap-megamenu lg-width-1170 md-width-970">
                                    <div class="mega-content">
                                        <div class="col-lg-9 col-md-9 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                                    <div class="wrap-custom-menu vertical-menu ">
                                                        <h4 class="menu-title">Fresh Fruits</h4>
                                                        <div class="banner">
                                                            <a href="category-grid.html"><img src="assets/images/home-08/mega_menu_fresh_food.jpg" width="205" height="116" alt="biolife mega menu"></a>
                                                        </div>
                                                        <ul class="menu">
                                                            <li><a href="#">Basket of apples</a></li>
                                                            <li><a href="#">Strawberry</a></li>
                                                            <li><a href="#">Blueberry</a></li>
                                                            <li><a href="#">Orange</a></li>
                                                            <li><a href="#">Pineapple</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                                    <div class="wrap-custom-menu vertical-menu">
                                                        <h4 class="menu-title">Dried Fruits</h4>
                                                        <div class="banner">
                                                            <a href="category-grid.html"><img src="assets/images/home-08/mega_menu_driedfruits.jpg" width="205" height="116" alt="biolife mega menu"></a>
                                                        </div>
                                                        <ul class="menu">
                                                            <li><a href="#">Berries</a></li>
                                                            <li><a href="#">Pears</a></li>
                                                            <li><a href="#">Chili Peppers</a></li>
                                                            <li><a href="#">Fresh Avocado</a></li>
                                                            <li><a href="#">Grapes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                                    <div class="wrap-custom-menu vertical-menu">
                                                        <h4 class="menu-title">Featured Products</h4>
                                                        <div class="banner">
                                                            <a href="category-grid.html"><img src="assets/images/home-08/mega_menu_drinkfood.jpg" width="205" height="116" alt="biolife mega menu"></a>
                                                        </div>
                                                        <ul class="menu">
                                                            <li><a href="#">Coffee Creamers</a></li>
                                                            <li><a href="#">Mayonnaise</a></li>
                                                            <li><a href="#">Almond Milk</a></li>
                                                            <li><a href="#">Fruit Jam</a></li>
                                                            <li><a href="#">Beverages</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="biolife-banner__grid-inline">
                                                        <div class="banner-item md-margin-bottom-0 xs-margin-bottom-25">
                                                            <div class="biolife-banner__style-inline biolife-banner__style-inline--layout-01 biolife-banner__effect-overlay">
                                                                <a href="#" class="media"></a>
                                                                <div class="text-content">
                                                                    <h3 class="f-title">Fresh Fruit & Vegetables</h3>
                                                                    <span class="sub-title">100% Natural</span>
                                                                    <a href="#" class="btn btn-link">show now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="banner-item md-margin-bottom-0 xs-margin-bottom-25">
                                                            <div class="biolife-banner__style-inline biolife-banner__style-inline--layout-02 biolife-banner__effect-overlay">
                                                                <a href="#" class="media"></a>
                                                                <div class="text-content">
                                                                    <h3 class="f-title">Tasty Healthy Organic</h3>
                                                                    <a href="#" class="btn btn-link">see special</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="biolife-products-block max-width-270">
                                                <h4 class="menu-title">Bestseller Products</h4>
                                                <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":1, "responsive":[{"breakpoint":767, "settings":{ "arrows": false}}]}' >
                                                    <li class="product-item">
                                                        <div class="contain-product layout-default type-02">
                                                            <div class="product-thumb">
                                                                <a href="#" class="link-to-product">
                                                                    <img src="assets/images/products/p-08.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                                </a>
                                                                <div class="labels">
                                                                    <span class="light-red">hot</span>
                                                                </div>
                                                                <div class="btns-top-right">
                                                                    <a href="#" class="btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                                </div>
                                                                <p class="stock-status">out of stock</p>
                                                            </div>
                                                            <div class="info">
                                                                <b class="categories">Fresh Fruit</b>
                                                                <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                                                <div class="price ">
                                                                    <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                    <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                                </div>
                                                                <div class="slide-down-box">
                                                                    <div class="buttons">
                                                                        <a href="#" class="btn wishlist-btn btn_call_quickview"><i class="fa fa-search"></i></a>
                                                                        <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                                        <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="product-item">
                                                        <div class="contain-product layout-default type-02">
                                                            <div class="product-thumb">
                                                                <a href="#" class="link-to-product">
                                                                    <img src="assets/images/products/p-15.jpg" alt="Vegetables" width="270" height="270" class="product-thumnail">
                                                                </a>
                                                                <div class="labels">
                                                                    <span class="dark-green">Bestseller</span>
                                                                </div>
                                                                <div class="btns-top-right">
                                                                    <a href="#" class="btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="info">
                                                                <b class="categories">Fresh Fruit</b>
                                                                <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                                                <div class="price ">
                                                                    <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                    <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                                </div>
                                                                <div class="slide-down-box">
                                                                    <div class="buttons">
                                                                        <a href="#" class="btn wishlist-btn btn_call_quickview" ><i class="fa fa-search"></i></a>
                                                                        <a href="#" class="btn add-to-cart-btn" ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                                        <a href="#" class="btn compare-btn" ><i class="fa fa-random" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="product-item">
                                                        <div class="contain-product layout-default type-02">
                                                            <div class="product-thumb">
                                                                <a href="#" class="link-to-product">
                                                                    <img src="assets/images/products/p-16.jpg" alt="Vegetables" width="270" height="270" class="product-thumnail">
                                                                </a>
                                                                <div class="labels">
                                                                    <span class="light-green">-50%</span>
                                                                </div>
                                                                <div class="btns-top-right">
                                                                    <a href="#" class="btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="info">
                                                                <b class="categories">Fresh Fruit</b>
                                                                <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                                                <div class="price ">
                                                                    <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                    <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                                </div>
                                                                <div class="slide-down-box">
                                                                    <div class="buttons">
                                                                        <a href="#" class="btn wishlist-btn btn_call_quickview" ><i class="fa fa-search"></i></a>
                                                                        <a href="#" class="btn add-to-cart-btn" ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                                        <a href="#" class="btn compare-btn" ><i class="fa fa-random" aria-hidden="true"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="biolife-brand">
                                                <ul class="brands">
                                                    <li><a href="#"><img src="assets/images/megamenu/brand-organic.png" width="161" height="136" alt="organic"></a></li>
                                                    <li><a href="#"><img src="assets/images/megamenu/brand-explore.png" width="160" height="136" alt="explore"></a></li>
                                                    <li><a href="#"><img src="assets/images/megamenu/brand-organic-2.png" width="99" height="136" alt="organic"></a></li>
                                                    <li><a href="#"><img src="assets/images/megamenu/brand-eco-teas.png" width="164" height="136" alt="eco teas"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="Pages">Demo</a>
                                <div class="wrap-megamenu lg-width-1170 md-width-970">
                                    <div class="mega-content">
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Home Page</h4>
                                                <ul class="menu">
                                                    <li class="menu-item" ><a href="home-01.html">Home 01</a></li>
                                                    <li class="menu-item" ><a href="home-02.html">Home 02</a></li>
                                                    <li class="menu-item" ><a href="index.html">Home 03</a></li>
                                                    <li class="menu-item" ><a href="home-04.html">Home 04</a></li>
                                                    <li class="menu-item" ><a href="home-05.html">Home 05</a></li>
                                                    <li class="menu-item" ><a href="home-06.html">Home 06</a></li>
                                                    <li class="menu-item" ><a href="home-07.html">Home 07</a></li>
                                                    <li class="menu-item" ><a href="home-08.html">Home 08</a></li>
                                                    <li class="menu-item" ><a href="home-09.html">Home 09</a></li>
                                                    <li class="menu-item" ><a href="home-10.html">Home 10</a></li>
                                                    <li class="menu-item" ><a href="home-11.html">Home 11</a></li>
                                                    <li class="menu-item" ><a href="home-12.html">Home 12</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Inner Pages</h4>
                                                <ul class="menu">
                                                    <li class="menu-item" ><a href="blog-post.html">Blog Single</a></li>
                                                    <li class="menu-item" ><a href="blog-v01.html">Blog Style 01</a></li>
                                                    <li class="menu-item" ><a href="blog-v02.html">Blog Style 02</a></li>
                                                    <li class="menu-item" ><a href="blog-v03.html">Blog Style 03</a></li>
                                                    <li class="menu-item" ><a href="contact.html">Contact Us</a></li>
                                                    <li class="menu-item" ><a href="about-us.html">About Us</a></li>
                                                    <li class="menu-item" ><a href="checkout.html">Checkout</a></li>
                                                    <li class="menu-item" ><a href="shopping-cart.html">Shopping Cart</a></li>
                                                    <li class="menu-item" ><a href="login.html">Login/Register</a></li>
                                                    <li class="menu-item" ><a href="404.html">404</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Category Pages</h4>
                                                <ul class="menu">
                                                    <li class="menu-item" ><a href="category-grid-3-cols.html">Grid 3 Cols</a></li>
                                                    <li class="menu-item" ><a href="category-grid.html">Grid 4 Cols</a></li>
                                                    <li class="menu-item" ><a href="category-grid-6-cols.html">Grid 6 Cols</a></li>
                                                    <li class="menu-item" ><a href="category-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                                    <li class="menu-item" ><a href="category-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                                    <li class="menu-item" ><a href="category-list.html">List Full</a></li>
                                                    <li class="menu-item" ><a href="category-list-left-sidebar.html">List Left Sidebar</a></li>
                                                    <li class="menu-item" ><a href="category-list-right-sidebar.html">List Right Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Product Types</h4>
                                                <ul class="menu">
                                                    <li class="menu-item" ><a href="single-product-simple.html">Simple</a></li>
                                                    <li class="menu-item" ><a href="single-product-grouped.html">Grouped</a></li>
                                                    <li class="menu-item" ><a href="single-product.html">Variable</a></li>
                                                    <li class="menu-item" ><a href="single-product-external.html">External/Affiliate</a></li>
                                                    <li class="menu-item" ><a href="single-product-onsale.html">Countdown</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="blog-v02.html" class="menu-name" data-title="Blog">Blog</a>
                            </li>
                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-eighth__cart-box col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="biolife-cart-info">
                        <div class="biolife-search biolife-search__inline js_seach_inline">
                            <a href="javascript:void(0)" class="js_btn_click link-to"><i class="biolife-icon icon-search"></i></a>
                            <div class="biolife-search__inline-content js_search_content">
                                <a href="#" class="mobile-overlay"></a>
                                <form action="#" name="search" >
                                    <p class="biolife-form-row">
                                        <input type="search" name="search-input" placeholder="Search for product..." class="biolfe-input biolife-input__text biolife-input__rounded">
                                        <button name="search" type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div class="user-info">
                            <a href="login.html" class="login-link link-to"><i class="biolife-icon icon-login"></i></a>
                        </div>
                        <div class="wishlist-block hidden-sm hidden-xs">
                            <a href="#" class="link-to">
                                <span class="icon-qty-combine">
                                    <i class="icon-heart-bold biolife-icon"></i>
                                </span>
                            </a>
                        </div>
                        <div class="minicart-block">
                            <div class="minicart-contain">
                                <a href="javascript:void(0)" class="link-to">
                                    <span class="icon-qty-combine">
                                        <i class="icon-cart-mini biolife-icon"></i>
                                        <span class="qty">8</span>
                                    </span>
                                    <span class="sub-total">$0.00</span>
                                </a>
                                <div class="cart-content">
                                    <div class="cart-inner">
                                        <ul class="products">
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="assets/images/minicart/pr-01.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id123][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="assets/images/minicart/pr-02.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id124][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id124][qty]" id="cart[id124][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="assets/images/minicart/pr-03.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id125][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id125][qty]" id="cart[id125][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="assets/images/minicart/pr-04.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id126][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id126][qty]" id="cart[id126][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="assets/images/minicart/pr-05.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id127][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id127][qty]" id="cart[id127][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <p class="btn-control">
                                            <a href="#" class="btn view-cart">view cart</a>
                                            <a href="#" class="btn">checkout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-toggle">
                            <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> #}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produit
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_product_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_product_add')}}">Ajouter</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégorie
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_category_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_category_add')}}">Ajouter</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Classement
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="{{path('admin_class_list')}}" >Liste</a></li>
                    <li><a class="dropdown-item" href="{{path('admin_class_add')}}">Ajouter</a></li>
                </ul>
            </li>
        </ul>
        
    </div>
  </div>
</nav>


{# <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container-fluid">
 	 <a class="navbar-brand" href="#">Brand</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="main_nav">
	

	<ul class="navbar-nav">
		<li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
		<li class="nav-item"><a class="nav-link" href="#"> About </a></li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Treeview menu  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
				    <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
				    <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
				    <li><a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
				    	<ul class="submenu dropdown-menu">
						    <li><a class="dropdown-item" href="#">Multi level 1</a></li>
						    <li><a class="dropdown-item" href="#">Multi level 2</a></li>
						</ul>
				    </li>
				    <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
				    <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
		    </ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  More items  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
				    <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
				    <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
				    <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 3 &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
				    <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 4 &raquo;</a>
			  	 <ul class="submenu dropdown-menu">
				    <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
				    <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 6 </a></li>
		    </ul>
		</li>
	</ul>

	<ul class="navbar-nav ms-auto">
		<li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
		<li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
		<li class="nav-item dropdown">
			<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Dropdown right </a>
		    <ul class="dropdown-menu dropdown-menu-right">
			  <li><a class="dropdown-item" href="#"> Dropdown item 1</a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 2 </a></li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 3 &raquo; </a>
			  	 <ul class="submenu submenu-left dropdown-menu">
				    <li><a class="dropdown-item" href="">Submenu item 1</a></li>
				    <li><a class="dropdown-item" href="">Submenu item 2</a></li>
				    <li><a class="dropdown-item" href="">Submenu item 3</a></li>
				    <li><a class="dropdown-item" href="">Submenu item 4</a></li>
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="#"> Dropdown item 4 </a></li>
		    </ul>
		</li>
	</ul>

  </div> <!-- navbar-collapse.// -->
 </div> <!-- container-fluid.// -->
</nav> #}