{% extends 'base.html.twig' %}

{% block title %}
    Modification du profil
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="biolife-body">
	<div class="page-contain">
        <!-- Image bannière  -->
        <div class="banner-media-layout-01"></div>

        <div class="text-content4">  
            <div class="bg-glass2 container bradius-3rem p-5">
                <div class="d-flex text-white justify-content-center my-3">
                    <h1 class="text-center font-bg-stylized-1 text-white">Suspendre la livraison</h1>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.start_date) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.end_date) }}
                        </div>
                    </div>
                </div>
                    <button class="button button1" type="submit">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</body>




    {% block javascripts %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="{{ asset('/js/bootstrap-datepicker.min.js')}}"></script>

        <script>
            $(document).ready(function () {          
                $('#pause_livraison_end_date').datepicker({
                    format: 'dd/mm/yyyy',
                });
                $('#pause_livraison_start_date').datepicker({
                    format: 'dd/mm/yyyy',
                });
            });
        </script>
    {% endblock %}
{% endblock %}
