{% extends 'base.html.twig' %}

{% block title %}
    Détail abonnement {{ orderPlan.SubscriptionPlanDatas.planSubscriptionName }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}
    <body class="biolife-body">
        <div class="page-contain">
            <div class="banner-media-layout-01"></div>
            <div class="text-content4">
                <div class="container bg-white panier_body shadow-lg p-3 mb-5 bradius-3rem">
                    <!-- Message alert -->
                    {% for label, messages in app.flashes %}
                        <div class="alert alert-{{label}} text-center">
                            {% for message in messages %}
                                {{message | raw}}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger text-center">
                            <span class="h2">Une erreur s'est produite</span>
                            {{ form_errors(form.start_date) }}
                            {{ form_errors(form.end_date) }}
                        </div>
                    {% endif %}

                    {% set plan = orderPlan.SubscriptionPlanDatas %}
                    {% set stripeData = orderPlan.stripeData %}
                    <h2 class="text-center">Abonnement sur {{ orderPlan.SubscriptionPlanDatas.planSubscriptionName }}</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                {% if plan.planSubscriptionName == "Grand panier" %}
                                    <img src="/biolife/assets/images/home-08/bn16-01.png" alt="image grand panier" width="335" class="rotate img-fluid" >
                                {% elseif plan.planSubscriptionName == "Panier moyen" %}
                                    <img src="/biolife/assets/images/home-08/bn17.png" alt="image panier moyen" width="335"  class="img-fluid" >
                                {% elseif plan.planSubscriptionName == "Petit panier" %}
                                    <img src="/biolife/assets/images/home-08/bn17_02.png" alt="image petit panier" width="335"  class="rotate img-fluid">
                                {% else %}
                                    <img src="/uploads/produit/images/defaultImage.png" alt="img-plan-subscription" width="335">
                                {% endif %}
                                
                                {# <img src="/biolife/assets/images/home-08/bn16-01.png" class="card-img-top" alt="cover-grand-panier"> #}
                                <div class="card-body">
                                    <h5 id="card-plan-amount">Tarif : {{ plan.planSubscriptionAmount }}€</h5>
                                    <h5 id="card-plan-interval-unit">Cycle : {{ intervalUnitSubscription }}</h5>
                                    <h5 id="card-subscription-plan-status">Status : 
                                        <span id="status-subscription">
                                            {% if stripeData.stripe_subscription_status == "canceled" %}
                                                Abonnement annulé
                                            {% else %}
                                                {{ stripeData.stripe_subscription_status }}
                                            {% endif %}
                                        </span> 
                                    </h5>
                                    {% if orderPlan.pauseDelivry %}
                                        <h5 id="card-plan-interval-unit">Livraison :  <span class="text-danger"> En pause !</span></h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row mt-5">
                                <div class="col-md-2 text-whitetext-white">
                                    {% if orderPlan.pauseDelivry %}
                                        <a href="{{ path('account_plan_delivry_continue', {id: orderPlan.id}) }}" class="btn btn-warning" onclick="return confirm('Continuer la livraison ?')">Livraison en Pause</a>                                    
                                    {% else %}
                                        <a href="#" class="btn btn-warning" id="pauseDelivryModal">Pause</a>                                    
                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <p> Vous pouvez définir un interval pour mettre pause la livraison. Nous tenons à préciser que le prélèvement continue, même si la livraison est en pause </p>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-2">
                                    {% if stripeData.stripe_subscription_status == 'canceled' %}
                                        <a class="btn btn-danger" disabled>Désabonné !</a> 
                                    {% else %}
                                        <a id="btn-cancel-subscription-plan" href="{{ path('account_subscription_cancel', {orderId: orderPlan.id, stripeSubscriptionId: stripeData.stripe_subscription_id })  }}" onclick="cancelSubscriptionPlan(event)" class="btn btn-danger">Se désabonner !<span id="spinner-cancel-subscription"></span></a> 
                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <p> Annuler immédiatement l'abonnement. Vous ne serez plus facturé pour cet abonnement. Notez cependant que tous les éléments de facture en attente seront toujours facturés à la fin de la période</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Pause Delivry-->
    <div id="ModalPauseDelivry" class="modal custom-fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center" id="staticBackdropLabel">Definir une interval</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                <div class="row text-center">
                    {{ form_errors(form.start_date) }}
                    {{ form_errors(form.end_date) }}
                </div>
                <div class="row">
                    <div class="col">
                        <label for="pause_delivry_start_date">Date debut</label>
                        {{ form_widget(form.start_date) }}
                    </div>
                    <div class="col">
                        <label for="pause_delivry_end_date">Date fin</label>
                        {{ form_widget(form.end_date) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Definir</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.min.js"></script>

    <script>
    $( window ).on('load', function() {
        function cancelSubscriptionPlan(event){
            event.preventDefault();
            var valConfirm = confirm('Voulez-vous vous désabonner?');
            var unsubscribedButton = $('#btn-cancel-subscription-plan');

            if (valConfirm === true) {
                var href_value = $('#btn-cancel-subscription-plan')[0].href;
                $.ajax({
                    url: href_value,
                    async: false,
                    beforeSend: function() {
                        unsubscribedButton.html("...");
                        $('#spinner-cancel-subscription').html("<div class='spinner-border text-light' role='status'> <span class='visually-hidden'>Loading...</span></div>");
                    },
                    success: function(response) {
                        if (response.code == '200' && response.message == 'subscription_plan_canceled') {
                            unsubscribedButton.html("Désabonné");
                            unsubscribedButton.attr('disabled', true)
                            $('#card-subscription-plan-status #status-subscription').text("Abonnement annulé");
                        }
                    },
                    error: function () {
                        $('#spinner-cancel-subscription').html("");
                    }
                })
            }
        }
        
        
        var modalPauseDelivry = new bootstrap.Modal(document.getElementById("ModalPauseDelivry"), {});
        $('#pauseDelivryModal').on('click', function(){
            modalPauseDelivry.show();
        })
        {% if not form.vars.valid %}
            modalPauseDelivry.show();
        {% endif %}


        $('#pause_delivry_start_date, #pause_delivry_end_date').datepicker({
		    format: 'dd/mm/yyyy',
	    });
    });
    </script>
{% endblock %}
