{# <div class="subscription-list-block">
    <div class="container">
        <div class="row">
            <h1 class="title-cart-subscription text-center text-white">Nos paniers bio, choisissez un panier à votre mesure</h1>
            {% for panier in subscriptions %}
                <div class="col-lg-4 my-4" style="padding-right: 30px;">
                    <div class="card bg-white text-center" style="min-width: 22rem; min-height: 30rem; border-radius: 20px">
                        <div class="card-body">
                            <div class="name-cart-subscription p-3 my-4 text-white">
                                <h1 class="card-title">{{ panier.nameSubscriptionPlan }}</h1>
                            </div>
                            <div class="row" style="margin-bottom: 40%;">
                                <div class="col">
                                    <img src="/uploads/produit/images/defaultImage.png" alt="img-plan-subscription" width="190" style="position: absolute; margin: 0 -60px;">
                                </div>
                                <div class="col">
                                    <h1 class="fw-bolder periode-cart-subscription">{{panier.durationMonthSubscription}} MOIS</h1>
                                    <h1 class="fw-bolder">{{panier.priceSubscription}} €</h1>
                                </div>
                            </div>
                            <a href="{{ path('cart_subscription_show', {id: panier.id}) }}" class="button button1 fw-bolder">Plus de détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> #}


<div class="subscription-list-block">
    <div class="row" style="height: 503px;">
        <div class="col-lg-3 col-sm-12">
            <a href="{{ path('cart_subscription_show', {id: grandPanier.id}) }}">
                <div id="cover-cart-grand-panier"></div>
                <div id="name-and-price-grand-panier"></div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <a href="{{ path('cart_subscription_show', {id: moyenPanier.id}) }}">
                <div id="cover-cart-moyen-panier"></div>
                <div id="name-and-price-moyen-panier"></div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <a href="{{ path('cart_subscription_show', {id: petitPanier.id}) }}">
                <div id="cover-cart-petit-panier"></div>
                <div id="name-and-price-petit-panier"></div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <a href="{{ path('all_products') }}">
                <div id="cover-cart-panier-sur-mesure"></div>
                <div id="name-cart-panier-sur-mesure"></div>
            </a>
        </div>
    </div>
</div>