<div class="blog-banners home-08__elm-06">
    <div class="biolife-title-box biolife-title-box__icon-at-top-style hidden-icon-on-mobile">
        <span class="icon-at-top biolife-icon icon-organic"></span>
        <span class="subtitle">Choisissez le panier que vous convient</span>
        <h3 class="main-title">Nos paniers</h3>
    </div>
    <div class="biolife-gird-banners__style02">
        <div class="container">
            <div class="row">
                {% if grandPanier %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="grand-panier-block biolife-banner__style-16 biolife-banner__style-16--elm-01 biolife-banner__effect-overlay">
                        <a href="{{ path('cart_subscription_show', {id: grandPanier.id}) }}"class="media"></a>
                        <a href="{{ path('cart_subscription_show', {id: grandPanier.id}) }}" class="link-cat">{{ grandPanier.name }}</a>
                        <p class="plan-description">Assortiment de fruits et légumes frais, brio et de saison, assez pour 2 personnes.</p>
                        <p class="plan-amount">Prix : {{ grandPanier.amount }}€</p>
                        <!-- <button class="button button1">Plus de détails</button> -->
                    </div>
                </div>
                {% endif %}

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-item">
                    <div class="row">
                        {% if panierMoyen %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
                            <div class="biolife-banner__style-17 biolife-banner__effect-overlay">
                                <a href="{{ path('cart_subscription_show', {id: panierMoyen.id}) }}"class="media"></a>
                                <a href="{{ path('cart_subscription_show', {id: panierMoyen.id}) }}" class="link-cat">{{ panierMoyen.name }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if petitPanier %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="biolife-banner__style-17 biolife-banner__effect-overlay">
                                <a href="{{ path('cart_subscription_show', {id: petitPanier.id}) }}"class="media"></a>
                                <a href="{{ path('cart_subscription_show', {id: petitPanier.id}) }}" class="link-cat">{{ petitPanier.name }}</a>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>