{% extends 'base.html.twig' %}

{% block title %}
    Paypal étape 2
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/order_stepper.css">
{% endblock %}


{% block body %}
<body class="biolife-body">
	<div class="page-contain">
        <!-- Image bannière  -->
        <div class="banner-media-layout-01"></div>

        <div class="text-content3">   
            {% include "partials/_order_stepper_progress_bar.html.twig" %}

            <div class="container bg-glass2 my-5">
                <!-- Etape 2 : Livraison  -->
                <div id="step-2">
                    <div class="container">
                        <div id="delivry-choice" class="shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="d-flex text-white justify-content-center my-3">
                                <h1 class="font-bg-stylized-1">
                                    2- Livraison <a href="{{path('account_delivry_edit')}}" class="text-white"><i class="fas fa-edit"></i></a>
                                </h1>
                            </div>
                            <div id="delivry-choice-body">
                                    {% if app.user.delivry %}
                                        
                                        <table class="table">
                                            <thead>
                                                <tr class="h4">
                                                <th scope="col">Type</th>
                                                <th scope="col" class="text-center">Créneaux</th>
                                                <th scope="col" class="text-center">Jour</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <th> <h2> {{ myDelivryInfo.delivryType }} </h2> </th>
                                                <td> <h2> {{ myDelivryInfo.delivryTimeSlot }} </h2></td>
                                                <td> <h2> {{ myDelivryInfo.delivryDaySlot }} </h2> </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                    {% else %}            
                                        <a href="{{path('account_delivry_edit')}}" class="btn btn-primary">Definir</a>
                                    {% endif %}


                                
                            </div>
                        </div>
                    </div>
                </div>
            <a href="{{ path('account_order_step_one') }}" class="button button1" style="float: left;"><i class="fas fa-arrow-circle-left"></i> Précédant</a>

            <a href="{{ path('account_order_step_three') }}" class="button button1-inverse" style="float: right;">Suivant <i class="fas fa-arrow-circle-right"></i></a>

            </div>

        </div>
    </div>
</body>

{% endblock %}
