{% extends 'base.html.twig' %}

{% block title %}
    Stripe étape 2
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="/assets/css/order_stepper.css">
    <style>
    	#detailsMap{
			height: 300px;
		}
    </style>
{% endblock %}


{% block body %}
<body class="biolife-body">
	<div class="page-contain">
        <!-- Image bannière  -->
        <div class="banner-media-layout-01"></div>

        <div class="text-content3">   
            {% include "partials/_order_stepper_progress_bar.html.twig" %}

            <div class="container bg-glass2 my-5">
                <!-- Etape 2 : Livraison  -->
                <div id="step-2">
                    <div class="container">
                        <div id="delivry-choice" class="shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="d-flex text-white justify-content-center my-3">
                                <h1 class="font-bg-stylized-1">
                                    2- Livraison <a href="{{path('account_delivry_edit')}}" class="text-white"><i class="fas fa-edit"></i></a>
                                </h1>
                            </div>
                            <div id="delivry-choice-body">
                                    {% if app.user.delivry %}
                                        <table class="table">
                                            <thead>
                                                <tr class="h4">
                                                <th scope="col">Type</th>
                                                <th scope="col" class="text-center">Créneaux</th>
                                                <th scope="col" class="text-center">Jour</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <th> <h2> {{ myDelivryInfo.delivryType }} </h2> </th>
                                                <td> <h2> {{ myDelivryInfo.delivryTimeSlot }} </h2></td>
                                                <td> <h2> {{ myDelivryInfo.delivryDaySlot }} </h2> </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Map layer -->
                                        <div class="d-flex text-white justify-content-center mt5-3">
                                            <h1 class="font-bg-stylized-1"> -- Position -- </h1>
                                        </div>
			                            <div id="detailsMap"></div>
                                    {% else %}            
                                        <a href="{{path('account_delivry_edit')}}" class="btn btn-primary">Definir</a>
                                    {% endif %}


                                
                            </div>
                        </div>
                    </div>
                </div>
            <a href="{{ path('account_order_step_one') }}" class="button button1" style="float: left;"><i class="fas fa-arrow-circle-left"></i> Précédant</a>

            <a href="{{ path('account_order_step_three') }}" class="button button1-inverse" style="float: right;">Suivant <i class="fas fa-arrow-circle-right"></i></a>

            </div>

        </div>
    </div>
</body>

{% endblock %}



{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script>
		let map ;
		let marqueur ;
		let geoJSON ;
		let myPosition = [{{app.user.delivry.latPosition}}, {{app.user.delivry.lngPosition}}];

		window.onload = () => {
			map = L.map('detailsMap').setView(myPosition, 11);
            map.scrollWheelZoom.disable();

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: 'Map data &copy; <a href="https://osm.org/copyright">OpenStreetMap</a> ODbL - rendu <a href="https://www.openstreetmap.fr/">OSM France</a>',
				minZoom: 1,
				maxZoom: 20
			}).addTo(map);
			
			// On dessine le marqueur si l'utilisateur a déjà les coordéonnés
			{% if app.user.delivry and app.user.delivry.latPosition and app.user.delivry.lngPosition %}
				let popup = L.popup()
					.setLatLng(myPosition)
					.setContent('<p>Votre point de livraison </p>')
					.openOn(map)
				;
				marqueur = L.marker(myPosition);
				marqueur.addTo(map);
				map.setView(myPosition, 11)
				marqueur.bindPopup(popup).openPopup();
			{% endif %}
        }
	</script>
{% endblock %}
