{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}



{% block body %}
<body class="biolife-body">
	<div class="page-contain">
      <!-- Image bannière  -->
      <div class="banner-media-layout-01"></div>
      <div class="text-content4">
        <div class="container bg-white panier_body shadow-lg p-3 mb-5 bradius-3rem">
            
            <div class="d-flex text-white justify-content-center my-3">
                <h1 class="font-bg-stylized-1">Liste des produits</h1>
            </div>

            <table class="table">
                <thead style="color: #37cc1d;">
                    <tr class="text-center">
                        <th></th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quatité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.product is null %}
                           <tr>
                                <td>
                                    (produit non dispo)
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <a href="{{path('product_show', {id: item.product.id, slug: item.product.slug})}}">
                                        {% if item.product.imageName %}
                                            <img src="{{ vich_uploader_asset(item.product, 'imageFile') }}" alt="card-img-top" width="50" height="50">
                                        {% else %}
                                            <img src="/uploads/produit/images/defaultImage.png" alt="card-img-top"  width="50" height="50" >        
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.price }} €</td>
                                <td> {{ item.quantity }}</td>
                                <td>{{ item.product.price * item.quantity }} €</td>
                            </tr>
                        {% endif %}
                        
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total :</td>
                        <td colspan="3" class="text-right">
                            
                        </td>
                        <td class="total-general">{{ total }} €</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
      
        </div>
      </div>
  </div>
</body>


{% endblock %}
