{% extends 'base_admin.html.twig' %}

{% block title %}Ajout catégorie{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="bg-glass2">
        <h1 class="text-center fw-bold">{{label|default('Ajout') }} catégorie </h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn {{btn_class|default('btn-primary')}}">{{button_label|default('Ajouter')}}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
