{% extends 'base_admin.html.twig' %}

{% block title %}Création d'un plan d'abonnement!{% endblock %}

{% block body %}

<div class="container my-5">
<div class="bg-glass2">
    <h1 class="text-center fw-bold">Création abonnement </h1>
    {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.name) }}
        </div>
        <div class="row">
            {{ form_row(form.description) }}
        </div>
        <div class="row">
            {{ form_row(form.detailed_description) }}
        </div>
        <div class="row">
            {{ form_row(form.amount) }}
        </div>
        <div class="row">
            {{ form_row(form.interval_unit) }}
        </div>
        {# <div class="row">
            {{ form_row(form.trialPeriodDays) }}
        </div> #}

        
        <button class="button button1">Créer</button>
    {{ form_end(form) }}
</div>

</div>
{% endblock %}

{% block javascripts %}
    <script>
    	$("select#cart_subscription_idProductPlanPaypal").select2({
			placeholder: "Sélectionner un produit",
	        allowClear: true,
			width: '100%'
		});
    </script>
{% endblock %}