{% extends 'base_admin.html.twig' %}

{% block title %}
	Les plans d'abonnement
{% endblock %}

{% block stylesheets %}

	<style>

		.col-sm-3{
			width: 20%;
		}

		.side-bar-column{
			margin-right: 30px;
		}


		.item-product-row:hover{
			background-color: rgba(165, 163, 163, 0.287);
		}
		.item-product-row div{
			border: 1px solid #47444431;
			padding: 5px 5px;
		}

		.row-table-head .row :first-child{
			margin-right: 30px;
		}

		.row-table-head .row :nth-child(2){
			margin-left: 7px;
			padding-left: 3rem!important;
		}
		.row-table-head .row :last-child{
			padding-right: 3rem!important;
		}
		@media (min-width: 853px){
			#after-empty-col-table-head{
				margin-left: 19px;
			}

			
			
		}
		@media (max-width: 853px){
			.fix-col-sm-3{
				width: 25%!important;
			}

			
		}
	</style>
{% endblock %}

{% block body %}
       

    <div class="container container-sm my-5">
		<div class="bg-glass2">
			<div class="messages-block my-5">
				{% for label, messages in app.flashes %}
				<div class="alert alert-{{label}} text-center">
					{% for message in messages %}
						{{message | raw}}
					{% endfor %}
				</div>
				{% endfor %}
			</div>

			<!-- Button on table -->
			<div class="above-row-table">
				<h2 class="font-bg-stylized-2 text-white d-inline" style="background-color: rgb(27, 179, 128);"> ({{ nbrSubscriptions }}) Plan</h2>
				<a href="{{path('admin_subscription_create')}}" class="button button1 fw-bold d-inline"><i class="fas fa-plus"></i> <span class="label-hidden-sm">Créer un plan</span> </a>
				<a href="{{path('admin_subscriber_list')}}" class="button button1 fw-bold d-inline"><i class="fa-solid fa-list-ul"></i> <span class="label-hidden-sm">Liste des abonnés</span></a>
			</div>

			<!-- Table head -->
			<div class="row-table-head bg-white py-4 mt-3 h5 row text-center fw-bold">
				<div class="col-1 empty-col-table-head">  </div>
				<div class="col-4 col-xs-3 col-sm-3" id="after-empty-col-table-head" >Nom</div>
				<div class="col-3 col-xs-1 col-sm-1">Prix</div>
				{# <div class="col-1">Durée en mois</div> #}
				<div class="col-3 col-sm-3 fix-col-sm-3 d-none d-sm-block" >Id-Price (Stripe)</div>
				<div class="col-3 col-sm-3 fix-col-sm-3 d-none d-sm-block" >Id-Product (Stripe)</div>
				<div class="col-2 col-xs-1 col-sm-1" >Abonnés</div>
				<div class="col-3 col-xs-1 col-sm-1">ACTION</div>
			</div>

			<!-- Table body -->
			<div class="table-body row mt-5">
				<div class="side-bar-column col-1 text-center fw-bold">
					<div class="subscription-block my-5">
						<div class="font-bg-stylized-1"> <a href="{{ path('admin_product_list') }}" class="text-white">Produits</a> </div>
						<div class="bg-white p-4 rounded">{{ nbrProducts }}</div>
					</div>
					<div class="user-block my-5">
						<div class="font-bg-stylized-1 text-white"> <a href="{{ path('admin_user_list') }}" class="text-white">Utilisateurs</a></div>
						<div class="bg-white p-4 rounded">{{ nbrUsers }}</div>
					</div>
					<div class="order-block my-5">
						<div class="font-bg-stylized-1"> <a href="{{ path('admin_order_list') }}" class="text-white">Commandes</a></div>
						<div class="bg-white p-4 rounded">{{ nbrOrders }}</div>
					</div>
				</div>
				<div class="content-table-body col bg-white mt-2 rounded p-sm-5 p-5">
					{% for subscription in subscriptions %}
						<div class="row item-product-row text-center">
							<div class="col-4 col-xs-3 col-sm-3">{{subscription.name}}</div>
							<div class="col-3 col-xs-1 col-sm-1">{{subscription.amount}} €</div>
							{# <div class="col-1">{{subscription.durationMonthSubscription}}</div> #}
							<div class="col-3 d-none d-sm-block h5">{{subscription.priceIdStripe}}</div>
							<div class="col-3 d-none d-sm-block h5">{{subscription.productIdStripe}}</div>
							<div class="col-2 col-xs-1 col-sm-1"><a href="{{ path('admin_subscriber_plan_list', {id: subscription.id}) }}"><i class="fas fa-users"></i></a></div>
							<div class="col-3 col-xs-1 col-sm-1">
								<a class="btn btn-success" href="{{path('admin_subscription_edit', {id: subscription.id})}}" > <i class="fas fa-edit"></i> </a>
								<a class="btn btn-warning js-modal-confirm" data-subscriptionid="{{ subscription.id }}" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pause"></i> </a>
							</div>
						</div>
					{% endfor %}
					
					{% if nbrSubscriptionsDisabled > 0 %}
						<a href="{{path('admin_subscription_disabled_list')}}" class="btn btn-primary float-end"> Voir les plans désactivés</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

<div class="modal" id="staticBackdrop" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body p-5">
				<button type="button" class="position-absolute end-0 top-0 close-btn-modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-circle-xmark"></i></button>
				<h1 class="text-center mb-4"> Désactiver le plan</h1>
				<h3>
					Si vous désactivez ce plan, aucun nouvel abonnement n'est possible. Les abonnements actuels restent en vigueur jusqu'à expiration, jusqu'à ce que les clients les annulent ou jusqu'à ce que vous les désactiviez.
				</h3>
				<form method="post"  class="text-center mt-5">
					<input type="hidden" name="_method" value="POST">
					<button type="submit" class="button button1">Désactiver le plan</button>
				</form>
				<br>
			</div>
		</div>
	</div>
  </div>
{% endblock %}

{% block javascripts %}
	<script>
		// On modifie l'action dans $('form') et on ajoute ensuite un csrf_token
		$('.js-modal-confirm').on('click', function() {
			var $this = $(this)[0];
			var subscriptionid = $this.dataset.subscriptionid;
			var queryParams = `/admin/subscription/plan/${subscriptionid}/deactive`;
			$('#staticBackdrop .modal-body form').attr('action', queryParams);
			$('#staticBackdrop .modal-body form').append('<input type="hidden" name="_token" value="{{ csrf_token("deactivate") }}">');
		});

		// On enlève le csrf_token et l'action lorsque l'user quitte le modal
		$('.close-btn-modal, .modal-backdrop').on('click', function () {
			$('#staticBackdrop .modal-body form').attr('action', '');
			$('#staticBackdrop .modal-body form [name="_token"]').remove();
		})
	</script>
{% endblock %}