{% extends 'base.html.twig' %}

{% block title %} {{subscription.nameSubscriptionPlan}} {% endblock %}

{% block stylesheets %}
  <style>
        #header {
            position: absolute !important;
        }


      .card-show-subscription{
        background-color: #fff;
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 20px;
      }


      .col-PayPal-button{
          padding-left: 10%;
          padding-right: 10%;
      }


  </style>
{% endblock %}

{% block body %}
<body class="biolife-body">
    <div class="page-contain">
        <!-- Image bannière  -->
        <div class="banner-media-layout-01"></div>
        
        <div class="text-content3">  

            <!-- block card-show-subscription  -->
            <div class="mx-5 row card-show-subscription">
                    <div class="col-md-4">
                        <div class="text-center">
                            <div class="card-body">
                                <div class="name-cart-subscription p-3 my-4 text-white">
                                    <h1 class="card-title">{{ subscription.nameSubscriptionPlan }}</h1>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img src="/uploads/produit/images/defaultImage.png" alt="img-plan-subscription" width="210">
                                    </div>
                                    <div class="col">
                                        <h1 class="fw-bolder periode-cart-subscription">{{subscription.durationMonthSubscription}} MOIS</h1>
                                        <h1 class="fw-bolder">{{subscription.priceSubscription}} €</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="col-md-8 py-5 col-PayPal-button">
                    <h1 class="third-line text-center">
                        {{ subscription.descriptionSubscriptionPlan }}
                    </h1> 
                    <h3 class="third-line text-center my-5">
                        {{ subscription.detailedDescription }}
                    </h3> 
                    {% if app.user %}
                        <div id="paypal-button-container"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}


{% block javascripts %}
    {% if app.user %}
        <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&vault=true"> </script>

        <script>
            paypal.Buttons({
                env: 'sandbox',
                style: {
                    label: 'subscribe'
                },
                createSubscription: function (data, actions) {
                    return actions.subscription.create({
                        'plan_id': "{{idSubscriptionPlanPaypal}}"
                    });
                },
                onApprove: function (data, actions) {
                    const url = "/account/abonnement/"+{{subscription.id}}+"/"+data.subscriptionID;
                    
                    axios.post(url)
                        .then(function(response){                            
                            if(response.data.code == '200'){
                                alert('Subscription successfull')
                            }
                        })
                },
                onCancel: function (data) {
                    alert("Abonnement annulé : vous avez fermé la fenêtre de paiement.");
                },
                onError: function (err) {
                    alert("Abonnement annulé : une erreur est survenue. Merci de bien vouloir réessayer ultérieurement.");
                }
            }).render('#paypal-button-container');
        </script>                           
    {% endif %}
{% endblock %}

