{% extends 'base.html.twig' %}

{% block title %} {{subscription.name}} {% endblock %}

{% block stylesheets %}
    <!-- <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/> -->

    <style>

            body{
                z-index: 10;
                background-image: url('/biolife/assets/images/home-01/main-slide-02.png');
                background-position: center center;
            }

            .fond-name-subscription{
                background-image: url('/assets/images/cart-name-squelette.png');
                height: 58px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                color: white;
                font-size: 30px;
                font-weight: bold;
                margin-top: 20px;
                padding: 58px;
                align-content: end;
                display: grid;
            }

            .fond-price-subscription{
                background-image: url('/assets/images/cart-price-squelette.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                color: white;
                font-size: 30px;
                font-weight: bold;

                display: grid;
                width: 77px;
                height: 77px;
                align-content: center;
                margin-left: 61px;
            }
          
            @media all and (min-width: 1600px){
                .engagement-card {
                    margin-left: -86px;
                }
            }
            .interval_unit{
                position: absolute !important;
                margin-left: 52px;
            }

            .card-show-subscription{
                margin-top: 350px;
                background-color: #fff;
                position: relative;
                display: flex;
                flex-direction: row;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 20px;
            }


            .col-PayPal-button{
               
                padding-right: 10%;
            }

            .font-bg-stylized-2{
                width: 319px;
                margin-top: 10px;
                padding: 11px;
                z-index: 2;
                position: sticky;
            }

            .rotate {
                background-color: transparent;
                transform: rotate(180deg);
            }

            .name-and-price-cart{
                position: relative;
                z-index: 2;
                transform: rotate(5deg);
            }
            .cart-name-subscriptionPlan{
                color: black;
                font-size: 38px;
            }
            .partner-logo{
                float: right;
                position: absolute;
                margin-left: -37px;
            }
    </style>

{% endblock %}

{% block body %}
    <!-- block card-show-subscription  -->
    <div class="mx-5  mb-5 row card-show-subscription">
        <div class="col-md-4 col-lg-4">
            <div class="text-center">
                <div class="card-body">
                    <!-- <div class="fond-name-subscription"> {{ subscription.name }} </div> -->
                        {% if subscription.name == "Grand panier" and subscription.status == 'active'  %}                            
                            <img src="/assets/images/cartSubscription/name-and-price-grand-panier.png" Class="name-and-price-cart img-fluid" alt="image grand panier" width="270" >
                        {% elseif subscription.name == "Panier moyen" and subscription.status == 'active' %}
                        <img src="/assets/images/cartSubscription/name-and-price-moyen-panier.png" class="img-fluid" alt="image grand panier" width="335">
                        {% elseif subscription.name == "Petit panier" and subscription.status == 'active' %}
                            <img src="/assets/images/cartSubscription/name-and-price-petit-panier.png" class="img-fluid" alt="image petit panier" width="280" >
                        {% else %}
                            Prix et nom du panier
                        {% endif %}

                    {# <h1 class="font-bg-stylized-2 text-white fw-bold" >{{ subscription.name }}</h1> #}
                    <div class="row mt-5">
                        <div class="col-12">
                            {% if subscription.name == "Grand panier" and subscription.status == 'active' %}
                                <img src="/assets/images/cartSubscription/cover-grand-panier.png" alt="image grand panier" width="335" class="rotate img-fluid" style="margin-top: -72px;">
                            {% elseif subscription.name == "Panier moyen" and subscription.status == 'active' %}
                                <img src="/assets/images/cartSubscription/cover-moyen-panier.png" alt="image panier moyen" width="335"  class="img-fluid" style="margin-top: -72px;">
                            {% elseif subscription.name == "Petit panier" and subscription.status == 'active' %}
                                <img src="/assets/images/cartSubscription/cover-petit-panier.png" alt="image petit panier" width="335"  class="rotate img-fluid" style="margin-top: -42px;">
                            {% else %}
                                <img src="/uploads/produit/images/defaultImage.png" alt="img-plan-subscription" width="335">
                            {% endif %}
                            <img src="/assets/images/demeter.jpg" class="partner-logo"  width="50">
                        </div>
                    </div>
                    <div class="bnt-purchase mt-5">
                       
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-8 col-lg-8 py-5 col-PayPal-button">
            <h1 class="third-line text-start fw-bolder cart-name-subscriptionPlan">
                {{ subscription.name}} des fruits et légumes bio
                {# {{ subscription.descriptionSubscriptionPlan}} #}
            </h1> 
            <hr>

            {# <div class="row mb-3">
                <div class="col-3"><i class="fa-solid fa-calendar-days fa-4x" style="color: #00800094;"></i></div>
                <div class="col float-start">
                    <h3 class="fw-bolder" style="color: rgba(255, 0, 0, 0.822);"><span>Aujourd'hui</span> &ensp;&ensp; <span class="ms-4">{{subscription.amount}}€</span></h3>
                    <h3 class="fw-bolder"><span>Dans 1 mois</span>  <span class="ms-5">{{subscription.amount}}€</span></h3>
                    <h3 class="fw-bolder"><span>Dans 2 mois</span> <span class="ms-5">{{subscription.amount}}€</span></h3>
                    <h3 class="fw-bolder">Et ainsi de suite … </h3>
                </div>
            </div> #}
            {% if app.user %}
                <form id="subscription-payment-form">
                    <div id="card-elements">
                    </div>
                
                    <div id="card-errors" role="alert"></div>
                    
                    {% if order is empty %}
                        <button id="sub-card-button-submit" class="button button1 mt-4" type="submit"><span id="label_subscribe">Souscrire</span>  {{subscription.amount}}€/ <span id="label_interval_unit">{{ inerval_unit }}</span> </button>                    
                    {% else %}
                        <button class="button button1 mt-4" disabled> Déjà abonné </button>                    
                    {% endif %}
                </form>
            {% else %}
                <a href="{{ path('dashboard') }}" class="button button1 ">Ajouter au panier</a>
            {% endif %}
            
            <hr>
            <h3 class="third-line text-center my-5">
                {{ subscription.detailedDescription|raw  }}
            </h3> 
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {% if app.user and order is empty  %}
        <script src="https://js.stripe.com/v3/"></script>

        <script>
            $(function() {
                // Déclaration des variables
                {% if stripe_environement == 'test' %}
                    var stripeToken = "{{ stripe_publishable_key_test }}"
                {% else %}
                    var stripeToken = "{{ stripe_publishable_key_live }}"
                {% endif %}

                var stripe = Stripe(stripeToken);
                var elements = stripe.elements();
                var clientSecret = "{{ intentSecret }}";
                var stripePriceId = "{{ subscription.priceIdStripe}}";
                var planSubscriptionName = "{{ subscription.name}}";
                var planSubscriptionAmount = "{{subscription.amount}}";
                var planSubscriptionIntervalUnit = "{{ inerval_unit }}";
                var planSubscriptionId = "{{ subscription.id}}";
                var cardHolderName = "{{ app.user.lastname }}";
                var cardHolderEmail = "{{ app.user.email }}";
                var cardHolderPostalCode = "{{ app.user.delivry.postalCode }}";
                var displayError = $('#card-errors');
                
                var styleCustom ={
                    base: {
                        fontSize: '16px',
                        fontWeight: '500',
                        fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
                        color: '#2532d'
                    },
                    invalid: {
                        iconColor: '#FFC7EE',
                        color: '#FFC7EE',
                    }
                }

                // Monter notre form à l'objet Stripe 
                var card = elements.create('card', {style: styleCustom});
                card.update({value: {postalCode: cardHolderPostalCode}});

                card.mount("#card-elements");

                // Message Error 
                card.on('change', function(event) {

                    if (event.error) {
                        displayError.addClass('alert alert-danger');
                        displayError.text(event.error.message);

                    } else {
                        displayError.removeClass('alert alert-danger');
                        displayError.text('')
                    }
                })

                // Gestion du form
                var sub_cardButton = $('#sub-card-button-submit');
                var formSub = $('#subscription-payment-form');
                formSub.on('submit', function(event){
                    event.preventDefault();
                    sub_cardButton.html('<div class="spinner-border text-success" role="status"><span class="visually-hidden">Loading...</span></div>');
                    sub_cardButton.attr('disabled', true);


                    stripe.handleCardPayment(
                        clientSecret,
                        card,
                        {
                            payment_method_data: {
                                billing_details: {
                                    name : cardHolderName,
                                    email : cardHolderEmail
                                }
                            }
                        }
                    ).then((result) => {
                        if (result.error) {
                            displayError.addClass('alert alert-danger');
                            displayError.text(result.error.message);
                            console.log(sub_cardButton);
                            sub_cardButton.text('Souscrire '+planSubscriptionAmount+'€/ '+planSubscriptionIntervalUnit);
                            sub_cardButton.attr('disabled', false);

                        }else if('paymentIntent' in result){
                            sub_cardButton.attr('disabled', true);

                            createPaymentMethod(card);
            

                        }
                    })  
                }) 


                function createPaymentMethod(cardElement) {
                    return stripe
                        .createPaymentMethod({
                            type: 'card',
                            card: cardElement,
                        })
                        .then((result) => {
                            if (result.error) {
                                displayError(error);
                            } else {
                                createSubscription({
                                    paymentMethodId: result.paymentMethod.id
                                });
                            }
                        });
                }



                function createSubscription({paymentMethodId}) {
                    var data = {
                        "stripePriceId": stripePriceId,
                        "paymentMethodId": paymentMethodId,
                        "planSubscriptionName": planSubscriptionName,
                        "planSubscriptionId": planSubscriptionId
                    };
                    var urlSubscription = "{{ path('account_stripe_subscription_plan') }}";
                    return (
                        $.ajax({
                            type: 'POST',
                            async: false,
                            url: urlSubscription,
                            data: JSON.stringify({data}),
                            dataType  : 'json',
                            headers: { 
                                'Content-type': 'application/json'
                            },
                            success :  function(result){
                                successUrl = "{{ path('dashboard') }}";
                                return document.location.href = successUrl;
                            },
                            error: function(error){
                                console.log('error', error)
                                
                                sub_cardButton.text('Souscrire '+planSubscriptionAmount+'€/ '+planSubscriptionIntervalUnit);
                                sub_cardButton.attr('disabled', false);
                                displayError.addClass('alert alert-danger');
                                displayError.text('Une erreur s\'est survenue');
                            }
                        })
                    );
                }
            });
        </script>                           
    {% endif %}

    <script>                           
        $("#simple-translate").hide();
    </script>                           
{% endblock %}

