{% extends 'base.html.twig' %}

{% block title %}Panier favori {{ favoriteCart.name }} {% endblock %}

{% block stylesheets %}
    <style>
        #header{
            position: relative;
            margin-bottom: 100px;
        }
        body{
        	background-image: url('/biolife/assets/images/home-01/main-slide-01.jpg');
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container bg-white panier_body shadow-lg p-3 mb-5 bradius-3rem">
        
        <div class="d-flex text-white justify-content-center my-3">
            <h1 class="font-bg-stylized-1">Panier favori ( {{ favoriteCart.name  }} )</h1>
        </div>

        
        {% if items|length > 0 %}
            <table class="table">
                <thead style="color: #37cc1d;">
                    <tr class="text-center">
                        <th></th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quatité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{{path('product_show', {id: item.product.id, slug: item.product.slug})}}">
                                    {% if item.product.imageName %}
                                        <img src="{{ vich_uploader_asset(item.product, 'imageFile') }}" alt="card-img-top" width="50" height="50">
                                    {% else %}
                                        <img src="/uploads/produit/images/defaultImage.png" alt="card-img-top"  width="50" height="50" >        
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }} €</td>
                            <td> {{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }} €</td>
                            <td>
                                <a href="{{path('favorite_cart_add_one', {id: item.product.id, favCart: favoriteCart.id})}}" class="btn btn-success js-cart-product">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="{{path('favorite_cart_remove_one', {id: item.product.id, favCart: favoriteCart.id})}}" class="btn btn-warning js-cart-product">
                                    <i class="fas fa-minus"></i>
                                </a>
                                <a href="{{path('favorite_cart_delete_charging_page', {favCart: favoriteCart.id, product: item.product.id, })}}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total :</td>
                        <td colspan="3" class="text-right">
                           
                        </td>
                        <td class="total-general">{{ total }} €</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Surprise, c'est vide !</p>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('a.js-cart-product').click(function() {
            event.preventDefault();

            // $(this)[0] repésente l'élément => a 
            const url = $(this)[0].href;
            
            const quantity_item =  $(this).parent().prev().prev()
            const total_price_item =  $(this).parent().prev()
            const total_price =  $('td.total-general')

            axios.get(url).then(function(response){
                quantity_item.text(response.data.quantity);
                total_price_item.text(response.data.total_item.toFixed(2));
                total_price.text(response.data.total.toFixed(2));
            })
        })

    
    </script>
{% endblock %}
