{% extends 'base.html.twig' %}

{% block title %}Panier favori {{ favoriteCart.name }} {% endblock %}

{% block stylesheets %}
    <style>
        body{
            color: darkolivegreen!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container panier_body shadow-lg p-3 mb-5 bg-body rounded ">
        
        <div class="bg-primary p-3 text-center">
            <h1>Panier favori ( {{ favoriteCart.name  }} )</h1>
        </div>

        
        {% if items|length > 0 %}
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th></th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quatité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{{path('product_show', {id: item.product.id})}}">
                                    {% if item.product.imageName %}
                                        <img src="{{ vich_uploader_asset(item.product, 'imageFile') }}" alt="card-img-top" width="50" height="50">
                                    {% else %}
                                        <img src="/uploads/produit/images/defaultImage.png" alt="card-img-top"  width="50" height="50" >        
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }}</td>
                            <td> {{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }}</td>
                            <td>
                                <a href="{{path('favorite_cart_add', {id: item.product.id, fav: favoriteCart.id})}}" class="btn btn-success js-cart-product">
                                    <i class="bi bi-cart-plus"></i>
                                </a>
                                <a href="{{path('panier_remove_one', {id: item.product.id})}}" class="btn btn-warning js-cart-product">
                                    <i class="bi bi-cart-dash"></i>
                                </a>
                                <a href="{{path('panier_remove_charging_page', {id: item.product.id})}}" class="btn btn-danger">
                                    <i class="bi bi-cart-x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total :</td>
                        <td colspan="3" class="text-right">
                            <a href="{{path('panier_delete_all')}}" class="btn btn-danger">
                                <i class="bi bi-cart-x"></i>
                            </a>
                        </td>
                        <td class="total-general">{{ total }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Surprise, c'est vide !</p>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function onClickBtn(event){
            //on utilise preventDefault() pour dire au navigateur de ne pas se recharger
            event.preventDefault();

            // this repésente l'élément => a 
            const url = this.href;

            //l'élement précedent de l'élément frère
            const quantity_item =  $(this)[0].parentNode.previousElementSibling.previousElementSibling
            const total_item =  $(this)[0].parentNode.previousElementSibling
            const total =  $('td.total-general')[0]

            axios.get(url).then(function(response){
                quantity_item.textContent = response.data.quantity;
                // toFixed(2) pour formater le float type en deux chiffre après la virgule 
                total_item.textContent = response.data.total_item.toFixed(2);
                total.textContent = response.data.total.toFixed(2);
            })
        }

        document.querySelectorAll('a.js-cart-product').forEach(function(link){
            // link représente tout les éléments => a 
            link.addEventListener('click', onClickBtn)
        })
    
    </script>
{% endblock %}
